/* PALETAS DE COLORES DEFINIDAS */
/* #4a6eb0 */
/* Paleta de colores */

@import url("https://fonts.googleapis.com/css2?family=Concert+One&family=Fjalla+One&display=swap");

:root {
  --bondi-blue: #0799b6;
  --san-marino: #152e5e;
  --eden: #114c5f;
  --sinbad: #9cd2d3;
  --janna: #f2e6cf;
  --soft-blue: #e1e9ff;
  --white: #e7e7e7;
  --violete: #a01494;
}

body {
  margin: 0;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.container-fluid {
  background-color: var(--soft-blue);
}

.navbar-custom {
  background-color: var(--san-marino);
  font-family: "Concert One", cursive;
}

.header {
  background-color: var(--san-marino);
  color: var(--white);
  padding: 2rem 0;
  border-radius: 0 0 2rem 2rem;
}

.header h1 {
  font-size: 3.2em;
  line-height: 1.1;
  padding: 0rem 2rem;
}

.header p {
  font-size: 1.2em;
  line-height: 1.1;
  padding: 2rem;
}

.header img {
  width: 60%;
  height: auto;
  display: fixed;
}

.btn-group {
  display: flex;
  width: 100%;
  justify-content: center;
}

.button {
  color: var(--white);
  padding: 0.5rem 0.7rem;
  border: none;
  border-radius: 0.6rem;
  font-size: 1em;
  cursor: pointer;
  font-weight: bold;
  transition: all 0.3s;
}

.button-primary {
  background-color: var(--violete);
}

.button-outline {
  background-color: transparent;
  border: 2px solid var(--violete);
  color: var(--violete);
}

.button-link {
  background-color: transparent;
  border: none;
  color: var(--violete);
}


.button-primary:hover {
  background-color: #00c94d;
}

.button-outline:hover {
  background-color: var(--violete);
  color: var(--white);
}

.button-link:hover {
  color: #5c0f7a;
}

.text-event p {
  font-size: 1em;
  line-height: 1.1;
}

.text-event h2 {
  margin-top: 2rem;
  font-size: 3em;
  line-height: 1.1;
  text-align: center;
  font-family: "Concert One", sans-serif;
}

.subtitle {
  font-size: 1.5em;
  font-family: 'Fjalla One', sans-serif;
}

.event-description {
  padding: 4rem;

}

.event-description p {
  font-size: 1em;
  line-height: 1.1;
  color: #8b8b8b;
}

.event-content {
  background-color: #fff;
  border-radius: 30px;
  padding: 2rem;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  

}
.event-content img {
  width: 100%;
  height: auto;
  border-radius: 30px;
}
